* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    height: 100vh;
    background: url("https://i.ibb.co/NZC1CN4/bc68dbd1950b3bc0662402eebde5b4eb.jpg") ;
  }
  
  /* <a href="https://ibb.co/zGx8x2k"><img src="https://i.ibb.co/NZC1CN4/bc68dbd1950b3bc0662402eebde5b4eb.jpg" alt="bc68dbd1950b3bc0662402eebde5b4eb" border="0"></a> */
  .container {
    max-width: auto;
    margin: 0 100px;
    padding: 20px;
    background-image: url("https://i.ibb.co/NZC1CN4/bc68dbd1950b3bc0662402eebde5b4eb.jpg") ;
    background-size: cover;
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
  }
     
  h2 {
    color: #5a5af3;
    margin-bottom: 10px;
  }
  
  .form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #050000;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
  }
  
  .form h2 {
    text-align: center;
    color: #5a5af3;
  }
  
  .form p {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
    background-color: #050000;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    margin-top: 8px;
    font-weight: 500;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 4px;
    height: 35px; 
  }
  
  button[type="submit"] {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    background-color: #5a5af3;
    color: white;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #4343d8;
  }
  
  .error-message {
    display: none;
    color: red !important;
    font-size: 14px;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    font-weight: 600;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 5px;
  }
  
  .signup-link a {
    color: #5a5af3;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  /* .form-signup{
    margin: 20px;
    padding: 50px;
    position: relative;
    z-index: 1;
  } */
  #particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Adjust the z-index as needed */
}